.footer {
    background: #121212;

    &__inner {
        position: relative;
        overflow: hidden;
        padding: 120px 0;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);

        @media #{$sm} {
            padding: 80px 0;
        }


        .shape {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }

        .footer-widget-wrapper {
            .logo {
                margin-bottom: 48px;
            }

            .content {
                .title {
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 56px;
                    text-align: center;
                    margin-bottom: 64px;


                    @media #{$sm} {
                        font-size: 40px;
                        line-height: 50px;
                    }

                    @media #{$xs} {
                        font-size: 25px;
                        line-height: 35px;
                    }
                }
            }
        }
    }

    &-copyright {

        .wrapper {
            display: flex;
            padding: 32px 0;
            align-items: center;
            justify-content: space-between;

            @media #{$sm} {
                flex-direction: column;
                text-align: center;
                justify-content: center;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
            }

            ul {
                gap: 60px;
                display: flex;
                list-style: none;
                align-items: center;

                li {
                    position: relative;

                    &:not(:last-child) {
                        &::before {
                            right: 0;
                            top: 50%;
                            content: "//";
                            transform: translate(40px, -50%);
                            position: absolute;
                        }
                    }

                    a {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 28px;

                        &:hover {
                            color: var(--green);
                        }
                    }
                }
            }
        }
    }
}