/* === header scss (index 01) === */

.header-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__inner {
    gap: 30px;
    display: flex;
    padding: 0px 35px;
    align-items: center;
    border-radius: 20px;
    background: var(--white);
    justify-content: space-between;
    margin-top: 30px;

    @media #{$lg} {
      padding: 10px 20px;
    }
  }

  .header__logo {
    @media #{$xs} {
      max-width: 100px;
    }
  }

  .header-right {
    gap: 10px;
    display: flex;
    align-items: center;

    .rr-btn-green {
      @media #{$sm} {
        display: none;
      }
    }

    .side-toggle {
      .bar-icon {
        width: 30px;
        height: 7px;

        span {
          height: 1px;
          background: var(--primary);
        }
      }
    }

    .rr-btn-border {
      @media #{$xs} {
        display: none;
      }
    }
  }

  .sticky,
  .transformed {
    background-color: #ffffff;
  }

  .main-menu {
    ul.dp-menu {
      li {
        position: relative;
        padding: 0 25px;

        &:hover {
          >a {
            color: var(--red);
            background-color: transparent;
          }

          >ul {
            opacity: 1;
            transform: none !important;
            pointer-events: all;
          }
        }

        a {
          font-size: 16px;
          font-weight: 500;
          color: var(--white);
          padding: 10px 0;
          background-color: transparent;
          border-radius: 8px;
          text-transform: capitalize;

          &:hover {
            letter-spacing: 0.5px;
          }

          &:after {
            transform: rotate(-90deg);
            margin-left: auto;
          }
        }
      }
    }

    >ul {
      display: flex;

      >li {
        &:hover {
          >a {
            color: var(--red);
          }
        }
      }
    }

    li a {
      font-size: 16px;
      font-weight: 400;
      padding: 42px 14px;
      color: var(--primary);

      @media #{$xl} {
        padding: 29px 10px;
      }

      &:hover {
        color: var(--primary);
      }
    }
  }

  .header__navicon {
    margin-left: auto;

    i {
      font-size: 22px;
      color: var(--white);
    }
  }
}

/* === Icon draw scss (index 01) === */
.bar-icon {
  width: 26px;
  height: 18px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  transition: color 0.2s ease-out;

  span {
    width: 100%;
    height: 2px;
    display: inline-block;
    background: var(--primary);
    transition: color 0.2s ease-out;

    &:nth-child(2) {
      margin-left: 0px;
    }
  }

  &:hover {
    span {
      animation: qode-draw 0.8s cubic-bezier(0.44, 1.1, 0.53, 0.99) 1 forwards;

      &:nth-child(2) {
        margin-left: 0px;
        animation-delay: 0.1s;
      }

      &:nth-child(3) {
        animation-delay: 0.2s;
      }
    }
  }

  &.is-black {
    span {
      background: var(--rr-common-black);
    }
  }

  &.is-white {
    span {
      background: var(--rr-common-white);
    }
  }
}

/* === Icon draw Animate scss (index 01) === */
@keyframes qode-draw {

  0%,
  100% {
    -webkit-clip-path: inset(-2px 0);
    clip-path: inset(-2px 0);
  }

  42% {
    -webkit-clip-path: inset(-2px 0 -2px 100%);
    clip-path: inset(-2px 0 -2px 100%);
  }

  43% {
    -webkit-clip-path: inset(-2px 100% -2px 0);
    clip-path: inset(-2px 100% -2px 0);
  }
}