/* === menu scss (index 01) === */
.main-menu {
  &.menu-dark > ul > li > a {
    color: var(--black);
  }

  &.menu-light > ul > li > a {
    color: var(--white);
  }

  > ul {
    display: flex;

    > li {
      &:first-child {
        > a {
          padding-left: 0;
        }
      }

      &:last-child {
        > a {
          padding-right: 0;
        }
      }

      &:hover {
        > a {
          color: var(--secondary);
        }

        > ul {
          opacity: 1;
          pointer-events: all;
          inset-inline-start: 0;

          &.dp-menu li {
            &:hover {
              > ul {
                opacity: 1;
                pointer-events: all;
                inset-inline-start: 100%;
              }
            }
          }
        }
      }
    }
  }

  li {
    position: relative;
    list-style: none;

    a {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 18px;
      line-height: 1;
      color: var(--primary);
      padding: 37px 15px;
      text-transform: capitalize;
    }
  }

  ul.dp-menu {
    background-color: #232529;
    padding: 18px 0px;
    width: 250px;
    position: absolute;
    inset-inline-start: 10px;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    transition: all 0.5s;

    &.column-2 {
      column-count: 2;
      width: 480px;
      column-gap: 0;
    }

    ul {
      background: var(--black);
      padding: 18px 0px;
      width: 300px;
      position: absolute;
      inset-inline-start: calc(100% + 10px);
      top: 0;
      opacity: 0;
      z-index: 10;
      transition: all 0.5s;
    }

    li {
      position: relative;
      padding: 0 25px;

      &:hover {
        > a {
          color: var(--white);
          background-color: transparent;
        }

        > ul {
          opacity: 1;
          transform: none !important;
          pointer-events: all;
        }
      }

      a {
        font-size: 16px;
        font-weight: 500;
        color: #999999;
        padding: 10px 0;
        background-color: transparent;
        border-radius: 8px;
        text-transform: capitalize;

        &:hover {
          letter-spacing: 0.5px;
        }

        &:after {
          transform: rotate(-90deg);
          margin-left: auto;
        }
      }
    }
  }

  .has-mega-menu {
    position: static;
  }

  li {
    &.menu-item-has-children {
      > a {
        &:after {
          content: "\f0d7";
          font-family: var(--font_awesome);
          margin-inline-start: 5px;
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
  }

  .mega-menu {
    background-color: var(--black);
    padding: 30px 50px;
    width: 100%;
    position: absolute;
    left: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    transition: all 0.5s;

    @media #{$xl} {
      column-gap: 30px;
    }

    li:has(ul) {
      > a {
        &:after {
          content: "";
        }
      }
    }

    li {
      a {
        font-size: 16px;
        font-weight: 500;
        color: #999999;
        height: 40px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        gap: 8px;
        background: var(--black);
        border-radius: 8px;
        overflow: hidden;

        &:hover {
          color: var(--white);
          background: #2c2c2f;
        }
      }
    }

    .title {
      font-weight: 600;
      color: var(--white);
      text-transform: uppercase;
      border-bottom: 1px solid #333337;
      padding-bottom: 20px;
      margin-bottom: 20px;
      pointer-events: none;
      border-radius: 0;
    }
  }

  .span-first-item {
    ul {
      li:first-child {
        grid-column: 1 / -1;
        column-span: all;
      }
    }
  }
}

/* === offcanvas scss (index 02) === */
.offcanvas__menu-wrapper.mean-container {
  .mean-nav > ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: block !important;

    > li:last-child > a {
      border-bottom: 1px solid var(--black-4);
    }
  }

  .mean-nav {
    background: none;
    margin-top: 0;

    .new {
      font-size: 10px;
      font-weight: 600;
      background: #ffa38e;
      color: var(--black);
      padding: 3px 7px;
      line-height: 1;
      display: flex;
      align-items: center;
      border-radius: 2px;
    }

    ul li {
      a {
        width: 100%;
        padding: 15px 0;
        padding-inline-start: 15px;
        font-weight: 400;
        font-size: 22px;
        line-height: 1;
        color: var(--white);
        text-transform: capitalize;
        border-top: 1px solid var(--black-4);
        display: flex;
        gap: 8px;
        justify-content: flex-start;
        align-items: center;
        outline: none;
        transform: translateY(var(--y)) translateZ(0);
        transition: transform 0.4s ease, box-shadow 0.4s ease;
        box-sizing: border-box;

        @media #{$sm} {
          font-size: 20px;
        }

        &.mean-expand {
          width: 54px;
          height: 54px;
          justify-content: center;
          font-weight: 300;
          border: none !important;

          @media #{$sm} {
            height: 50px;
          }

          &:hover {
            background: var(--secondary);
            opacity: 1;
          }
        }
      }

      li {
        &:first-child {
          border-top: 1px solid var(--black-4);
        }

        a {
          font-size: 20px;
          text-transform: capitalize;
          border-top: none !important;
          padding: 12px 0;
          padding-inline-start: 30px;

          @media #{$sm} {
            font-size: 18px;
          }

          &.mean-expand {
            height: 58px;

            @media #{$md} {
              height: 25px;
            }

            @media #{$sm} {
              height: 22px;
            }
          }
        }

        li {
          &:last-child {
            border-bottom: 1px solid var(--black-4);
          }

          a {
            padding-left: 40px;
          }
        }
      }
    }
  }

  .mean-bar {
    padding: 0;
    background: none;
    max-height: auto;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  a.meanmenu-reveal {
    display: none !important;
  }
}
