.hero-section-5 {
    z-index: 2;
    background: oklch(98.2% .004 91.4);
    overflow: hidden;
}
.hero-section-5__wrapper {
    padding-bottom: 100px;
}
#qoute-form {
    border: 1px solid #cecece;
    padding: 14px;
    border-radius: 10px;
    background-color: #f7f6f656;
    box-shadow: 0 4px 15px #0000001a;
}
#qoute-form h3 {
    font-weight: bold;
    font-size: 50px;
}
#qoute-form .form-group {
    margin-top: 8px;
}
#qoute-form .form-control {
    font-size: 18px;
    background: transparent;
    border: 1px solid #cecece;
    font-weight: normal;
    padding: 10px;
}
.footer-area6__top {
    padding: 40px 0px;
    text-align: center;
    align-items: center;
}
.footer-area6-main {
    padding: 30px 70px 0px;
    border-radius: 20px 20px 0 0;
    background: #101010;
}
.pricing-area8__card--bg-active {
    color: #fff;
    background: #d7078c;
}
.pricing-area8__card--bg-active .pricing-area8__card-header .pricing-area8__card-title {
    color: #fff;
}
.pricing-area8__card-bill {
    margin-bottom: 0;
}
.pricing-area8__card-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.about-area8__counter-number {
    color: #ffffff;
}
.about-area8__counter-three {
    background:linear-gradient(137deg, #3c489d 3.6%, #fff 100%);
}


.about-area8__counter {
    background: linear-gradient(109deg, #d7078c 4.72%, #fff 100%);
}
.about-area8__counter-feature span {
    background: #dc2699;
}
.intro-area6__content-newsletter-box select {
    color: #000;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
    border-radius: 20px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 0);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
    padding: 10px 30px;
}
.intro-area6__content-newsletter-box {
    display: flex;
    gap: 10px;
    width: 610px;
    position: relative;
    z-index: 5;
    border-radius: 35px;
    background: #fff;
    padding: 26px 25px;
    flex-direction: column;
}
.rr-btn-border {
    text-transform: lowercase;
    padding: 7px 15px 7px 15px;
    gap: 10px;
}
.rr-btn-border .icon {
    background: #db058d;
}
.section-top6__subtitle{
 font-size: 42px;
}
.footer-area4-bottom__wrapper {
        padding: 0px 0 35px;
}

