.demo {

    .section-title {

        &__wrapper {
            display: flex;
            text-align: center;
            margin-bottom: 50px;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .demo-number {
                font-size: 188px;
                font-weight: 700;
                line-height: 1;
                display: flex;
                align-items: center;

                @media #{$lg} {
                    font-size: 150px;
                    line-height: 160px;
                }


                @media #{$md} {
                    font-size: 120px;
                    line-height: 130px;
                }

                @media #{$sm} {
                    font-size: 100px;
                    line-height: 110px;
                }

                @media #{$xs} {
                    font-size: 60px;
                    line-height: 70px;
                }

                span {
                    font-size: 124px;
                    font-weight: 700;
                    line-height: 132px;

                    @media #{$sm} {
                        font-size: 80px;
                        line-height: 90px;
                    }

                    @media #{$xs} {
                        font-size: 40px;
                        line-height: 50px;
                    }


                }
            }

            .sub-title {
                font-size: 24px;
                font-weight: 600;
                line-height: 32px;
                color: var(--green);
                margin: 10px 0;
                text-transform: uppercase;
            }

            .title {
                text-align: center;
                font-size: 56px;
                font-weight: 600;
                line-height: 64px;

                @media #{$sm} {
                    font-size: 40px;
                    line-height: 50px;
                }

                @media #{$xs} {
                    font-size: 25px;
                    line-height: 35px;
                }
            }
        }
    }

    &__wrapper {
        gap: 50px;
        padding: 50px;
        display: grid;
        border-radius: 24px;
        grid-template-columns: repeat(2, 1fr);
        border: 1px solid rgba(255, 255, 255, 0.16);

        @media #{$md} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            gap: 30px;
            padding: 20px;
        }
    }

    &__item {
        .media {
            overflow: hidden;
            position: relative;
            border-radius: 24px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &::before {
                content: "";
                top: 0;
                left: 0;
                height: 0%;
                width: 100%;
                position: absolute;
                border-radius: 24px;
                transition: all 0.5s;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0.64) 100%)
            }

            .btn-wrapper {
                top: 50%;
                left: 50%;
                opacity: 0;
                position: absolute;
                visibility: hidden;
                transition: all 0.5s;
                transform: translate(-100%, -50%);
            }


            &:hover {

                &::before {
                    height: 100%;
                }

                .btn-wrapper {
                    opacity: 1;
                    visibility: visible;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .title {
            color: #FFF;
            font-size: 32px;
            font-weight: 700;
            margin-top: 24px;
            line-height: 40px;
            text-align: center;

            @media #{$md} {
                font-size: 22px;
            }

            &:hover {
                a {
                    color: var(--green);
                }
            }
        }

    }
}