.hero {

    &__inner {
        padding-top: 244px;
        padding-bottom: 218px;
        position: relative;
        background-repeat: no-repeat;
        width: 100%;
        background-position: center;

        @media #{$md} {
            padding-top: 190px;
            padding-bottom: 90px;
        }

        @media #{$xs} {
            padding-top: 120px;
            padding-bottom: 60px;
        }

        .shape-1 {
            position: absolute;
            left: 0;
            bottom: 0;

            @media #{$md} {
                max-width: 250px;
            }

            @media #{$sm} {
                display: none;
            }
        }

        .shape-2 {
            position: absolute;
            right: 0;
            bottom: 0;
            animation: upDown 2s ease-in-out infinite;

            @media #{$md} {
                max-width: 200px;
            }

            @media #{$sm} {
                display: none;
            }
        }
    }

    &__bg {
        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        z-index: 2;
        margin: 0 auto;
        max-width: 1104px;
        position: relative;
        text-align: center;

        .title {
            color: #FFF;
            font-size: 72px;
            font-weight: 700;
            line-height: 80px;
            text-align: center;
            margin-bottom: 16px;

            @media #{$lg} {
                font-size: 60px;
            }

            @media #{$md} {
                font-size: 50px;
                line-height: 60px;
            }

            @media #{$sm} {
                font-size: 35px;
                line-height: 45px;
            }

            @media #{$xs} {
                font-size: 25px;
                line-height: 35px;
            }

            span {
                color: var(--green);
            }
        }

        p {
            color: #FFF;
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
        }

        .btn-wrapper {
            gap: 30px;
            display: flex;
            margin-top: 50px;
            justify-content: center;
            align-content: center;


            @media #{$xs} {
                flex-wrap: wrap;
                gap: 10px;
            }
        }
    }
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}