.portfolio-details {
  padding: 200px 0px 120px;
  background-color: #F0F2F4;

  @media #{$xl} {
    padding: 130px 0px 100px;
  }
  @media #{$lg} {
    padding: 130px 0px 100px;
  }

  @media #{$xs} {
    padding: 120px 0px 90px;
  }

  &__top {
    color: #101010;
    font-family: Instrument Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 72px;
    line-height: 82px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 40px;

    @media #{$xxl} {
      font-size: 60px;
    }

    @media #{$xl} {
      font-size: 50px;
    }

    @media #{$lg} {
      font-size: 40px;
    }

    @media #{$md} {
      font-size: 30px;
    }

    @media #{$xs} {
      font-size: 27px;
    }

  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    @media #{$lg} {
      flex-wrap: wrap;
      gap: 30px;
    }

    &-content {
      border-top: 1px dashed;
      border-left: 1px dashed;
      padding: 15px 15px;

      &-subtitle {
        color: #555555;
        font-family: Kanit;
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        display: block;
        line-height: 30px;
        letter-spacing: 0%;
        margin-bottom: 16px;

        @media #{$xl} {
          margin-bottom: 10px;
          font-size: 18px;
        }

        @media #{$lg} {
          margin-bottom: 10px;
          font-size: 16px;
        }
      }

      &-title {
        color: #000000;
        font-family: Instrument Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0%;

        @media #{$xl} {
          margin-bottom: 10px;
          font-size: 20px;
        }
      }
    }
  }

  &__thumb {
    img {
      max-width: 100%;
    }
  }

  &__info {
    padding: 80px 0px;

    @media #{$xl} {
      padding: 60px 0px;
    }

    &-left {
      position: relative;
      font-family: Kanit;
      font-weight: 500;
      font-style: Medium;
      font-size: 18px;
      color: #000000;
      line-height: 28px;
      letter-spacing: 0%;
      text-transform: uppercase;

      @media #{$xl} {
        font-size: 16px;
      }

      &::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: 8px;
        left: -20px;
        background-color: #000000;

        @media #{$xxl} {
          display: none;
        }
      }
    }

    &-right {
      &-title {
        font-family: Instrument Sans;
        font-weight: 700;
        font-style: Bold;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0%;
        color: #000000;
        margin-bottom: 30px;

        @media #{$xl} {
          margin-bottom: 20px;
          font-size: 30px;
        }
      }

      &-subtitle1 {
        color: #555555;
        font-family: Kanit;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0%;
        margin-bottom: 30px;
      }

      &-subtitle2 {
        color: #555555;
        font-family: Kanit;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0%;
        margin-bottom: 30px;
      }

      .accordion2 {
        .global-accordion-item2 {
          padding: 20px 0px;
          background: transparent;
          overflow: hidden;

          .global-accordion {
            &-header {
              margin: 0;
              overflow: hidden;
              -webkit-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all 0.3s ease;
            }

            &-button {
              position: relative;
              font-family: "Instrument Sans";
              font-size: 24px;
              color: #000000;
              font-family: Kanit;
              font-weight: 500;
              font-style: Medium;
              font-size: 20px;
              line-height: 30px;
              letter-spacing: 0%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              background: transparent;

              @media #{$xxl} {
                font-size: 22px;
              }

              @media #{$xl} {
                font-size: 20px;
              }

              @media #{$lg} {
                font-size: 18px;
              }

              @media #{$md} {
                font-size: 17px;
              }

              &::after {
                content: "+";
                background: transparent;
                font-weight: 500;
                transition: all 0.3s ease-in-out !important;
                border: none;
                background: transparent;
                width: 12px;
                height: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--black);
                border-radius: 50%;
                transition: all 0.3s;
              }

              &:not(.collapsed)::after {
                content: "-";
                background: transparent;
                font-weight: 500;
                transition: all 0.3s ease-in-out !important;
                border: none;
                background: transparent;
                width: 12px;
                height: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                color: var(--black);
                transition: all 0.3s;
              }

              &.collapsed {
                color: #000000;
                font-family: Kanit;
                font-weight: 500;
                font-style: Medium;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0%;
                overflow: hidden;

                @media #{$xxl} {
                  font-size: 22px;
                }

                @media #{$xl} {
                  font-size: 20px;
                }

                @media #{$lg} {
                  font-size: 18px;
                }

                @media #{$md} {
                  font-size: 17px;
                }
              }
            }

            &-body {
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              padding-top: 15px;
              padding-bottom: 20px;

              p {
                color: #555;
                font-family: Kanit;
                font-weight: 400;
                font-style: Regular;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0%;

                @media #{$xl} {
                  font-size: 17px;
                }

                @media #{$lg} {
                  font-size: 16px;
                }
              }
            }

            &-collapse {
              &.show {
                border-radius: 4px;
              }
            }
          }
        }
      }

    }
  }

  &__thumb2 {
    height: 100%;
    img {
      max-width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }

  &-wrapper {
    padding: 60px 0px;

    @media #{$xl} {
      padding: 40px 0px;
    }

    &__title {
      position: relative;
      color: #000000;
      font-family: Kanit;
      font-weight: 500;
      font-style: Medium;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0%;
      text-transform: uppercase;

      @media #{$xl} {
        font-size: 16px;
      }

      &::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: 10px;
        left: -20px;
        background-color: #000000;

        @media #{$xxl} {
          display: none;
        }
      }
    }
  }

  &-info2 {
    padding: 0px 0px 60px;
    @media #{$xl} {
      padding: 0px 0px 40px;
    }
  }

  &__content {
    &-title {
      font-family: Instrument Sans;
      font-weight: 700;
      font-style: Bold;
      font-size: 36px;
      line-height: 46px;
      letter-spacing: 0%;
      margin-bottom: 20px;

      @media #{$xxl} {
        font-size: 30px;
        margin-bottom: 15px;
      }

      @media #{$xl} {
        font-size: 25px;
        margin-bottom: 15px;
      }

      @media #{$lg} {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }

    &-subtitle1 {
      color: #555555;
      font-family: Kanit;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0%;
      margin-bottom: 20px;

      @media #{$lg} {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }

    &-subtitle2 {
      color: #555555;
      font-family: Kanit;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0%;

      @media #{$lg} {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }

  &__thumb3 {
    margin-bottom: 30px;
    @media #{$xl} {
      margin-bottom: 25px;
    }
    @media #{$lg} {
      margin-bottom: 20px;
    }
    img {
      border-radius: 20px;
      max-width: 100%;
    }
  }

  &__link {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;

    &-items {
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      border-radius: 101px;
      border: 1px solid #000000;
      width: 200px;
      height: 200px;
      top: 4872px;
      left: 750px;
      border-width: 1px;

      @media #{$xxl} {
        width: 150px;
        height: 150px;
      }
      @media #{$xl} {
        width: 100px;
        height:100px;
      }

      &:hover {
        background-color: #41F681;
        border: none;
      }

      .button {
        color: #000000;
        font-family: Kanit;
        font-weight: 500;
        font-style: Medium;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0%;
        @media #{$xl} {
          font-size:16px;
        }
        @media #{$lg} {
          font-size:14px;
        }
      }

      .icon {
        margin-top: 15px;
        svg {
          display: flex;
          text-align: center;
          justify-items: center;
          margin: 0 auto;
        }
      }
    }
  }
}