.responsive-design {
  position: relative;

  &__bg {
    img {
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      background-repeat: no-repeat;
    }
  }

  &__inner {
    gap: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 644px);
    position: relative;
    z-index: 2;

    @media #{$xl} {
      grid-template-columns: repeat(2, 1fr);
    }

    @media #{$md} {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    padding: 50px;
    align-items: center;
    border-radius: 24px;
    background: #262626;
    flex-direction: column;

    @media #{$xs} {
      padding: 20px;
    }

    .sub-title {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      text-align: center;
      padding: 6px 24px;
      border-radius: 500px;
      background: #171717;
      margin-bottom: 16px;
    }

    .title {
      color: #868686;
      font-size: 24px;
      font-weight: 500;
      max-width: 548px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 80px;

      span {
        color: var(--white);
      }
    }

    .wrapper {
      gap: 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @media #{$sm} {
     justify-content: center;
    }
    }

    .footer-wrapper {
      display: flex;
      gap: 10px;

      .header {
        width: 450px;
        margin-bottom: 10px;
      }

      .footer {
        width: 450px;
      }

      .mobile-menu {
        width: 130px;
      }
    }
  }
}
