@import "utils/index";
@import "components/index";

/* === pages scss (index 01) === */
@import "pages/about-us";
@import "pages/ai-agency"; 
@import "pages/ai-robotic";
@import "pages/it-solution";
@import "pages/software";
@import "pages/digital-marketing";
@import "pages/seo-agency";
@import "pages/cyber-security";
@import "pages/sass";
@import "pages/portfolio-grid";
@import "pages/portfolio-list";
@import "pages/portfolio-details";
@import "pages/team";
@import "pages/team-details";
@import "pages/service";
@import "pages/service-details";
@import "pages/blog";
@import "pages/blog-details";
@import "pages/main-sidebar";
@import "pages/404";
@import "pages/faq";
@import "pages/checkout";
@import "pages/cart";
@import "pages/shop";
@import "pages/shop-details";
@import "pages/contact";
