@import "utils/index";
@import "components/index";

/* === pages scss (index 01) === */
@import "pages/features";
@import "pages/demo";
@import "pages/responsive-design";
@import "pages/hero";
@import "pages/functionality";